<div class="card">
  <h4 [hidden]="isNew" class="card-header">Edit Api</h4>
  <h4 [hidden]="!isNew" class="card-header">Add Api</h4>

  <div class="card-block">

    <form [formGroup]="editApiForm" (ngSubmit)="editAddApi(api)" style="display:inline">
        <div class="form-group">
          <input class="form-control" type="text" formControlName="hostName" [(ngModel)]="api.hostName" placeholder="Host Name" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" formControlName="path" [(ngModel)]="api.path" placeholder="Path" required>
        </div>
              
        <!-- <div class="form-group">
          <input class="form-control" type="text" formControlName="method" [(ngModel)]="api.method" placeholder="Method" required>
        </div> -->

        <div class="form-group">
          <label class="center-block">Method
            <select class="form-control" formControlName="method">
              <option *ngFor="let method of methods" [value]="method">{{method}}</option>
            </select>
          </label>
        </div>
      
        <div formArrayName="headers">
          <div *ngFor="let header of editApiForm.controls.headers.controls; let i=index" class="panel panel-default">
            <div class="panel-heading">
              <span>Header {{i + 1}}</span>
              <span class="glyphicon glyphicon-remove pull-right" *ngIf="editApiForm.controls.headers.controls.length > 0" (click)="removeHeader(i)">Remove</span>
            </div>
            <div class="panel-body" [formGroupName]="i">
              <!--key-->
              <div class="form-group col-xs-6">
                  <label>key</label>
                  <input type="text" class="form-control" formControlName="key" [(ngModel)]="api.headers[i].key">
                  <!--display error message if key is not valid-->
                  <small [hidden]="header.controls.key.valid" class="text-danger">
                      key is required
                  </small>
              </div>
              <!--value-->
              <div class="form-group col-xs-6">
                  <label>value</label>
                  <input type="text" class="form-control" formControlName="value" [(ngModel)]="api.headers[i].value">
              </div>
            </div>
          </div>

          <div class="margin-20">
            <a (click)="addHeader()" style="cursor: default">
              Add another header +
            </a>
          </div>          
        </div>    

        <div class="form-group">
          <textarea class="form-control" type="text" formControlName="data" [(ngModel)]="api.data" placeholder="Data"></textarea>
        </div>
        <button class="btn btn-sm btn-primary" type="submit" [disabled]="!editApiForm.valid"><i class="fa fa-floppy-o"></i> Save</button>
    </form> 
    <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancel</button> 
  </div>
</div>

